@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Palanquin:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: var(--container-max);
    margin-inline: auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal
           text-slate-600      
           pl-5 max-sm:p-5 outline-none
           sm:border-none border border-slate-300 max-sm:rounded-full;
  }

  .info-text {
    @apply font-montserrat text-slate-600 text-lg leading-7;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }
  .padding-x {
    @apply sm:px-16 px-8;
  }
  .padding-y {
    @apply sm:py-24 py-12;
  }
  .padding-l {
    @apply sm:pl-16 pl-8;
  }
  .padding-r {
    @apply sm:pr-16 pr-8;
  }
  .padding-t {
    @apply sm:pt-24 pt-12;
  }
  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}
